.list {
  .query_result {
    background-color: $color-bg;
  }

  /deep/ .list-form-inline {

    margin: 0;
    padding-top: 17px;
    padding-left: 15px;
    background-color: $color-bg-3;
    margin-bottom: 10px;
      .list-query-button {
        width: 80px;
        height: 36px;
        margin-left: 18px;
        margin-top: -1px;
      }
      .list-new-button {
        margin-left: 10px;
      }
  }

  .line-space {
    margin-left: 10px;
    margin-right: 0 !important;
  }

  .line-space:first-child {
    margin-left: 0;
  }

  .list-page {
    background-color: $color-bg-3;
    padding: 54px 0;
    text-align: center;
    border-radius: 4px;
    height: 120px;
    margin-top: 33px;

    li.active {
      background-color: $color-blue !important;
    }
  }
}
