/*
 * @Description:
 * @Author: 何彬
 * @Date: 2019-07-12 09:19:08
 * @LastEditTime: 2019-10-09 17:48:49
 * @LastEditors: Please set LastEditors
 */

/**
 * 颜色规范, 对应UI设计规范
 */

$color-main:       #2D5AFF; // 主色
$color-red:        #F44A4A; // 点缀
$color-split-line: #575E87; // 分割线
$color-text:       #181819; // 文字主色
$color-text-1:     #999999; // 文字辅色
$color-text-2:     #969CBE; // 文字辅助
$color-bg:         #F6F6F6; // 背景
$color-border:     #E5E7E9; // 边框
$color-disabled:   #C5C8CE; // 失效


/**
 * 字体颜色
 */
.color-red{
    color: $color-red;
}
.color-black{
    color: #181819;
}
.color-gray{
    color: #999999;
}
.color-white {
    color: #fff;
}
.color-main {
    color: #181819;
}

/**
 * 背景颜色
 */

.bg-red{
    background-color: $color-red;
}
.bg-lighten{
    background-color: $color-red;
}
.bg-darken{
    background-color: $color-red;
}
.bg-gray{
    background-color: #f3f3f3;
}
.bg-white {
    background-color: #fff;
}