// elementUI 主题编辑中无法修改的内容在此处覆盖
.el-button{
  width: 136px;
  &.is-circle{
    width: auto;
  }
  &.is-plain{
    background: transparent !important;
  }
}
.el-card__header{
  padding: 20px;
}
.el-card{
  margin-top: 20px;
  box-shadow: 0 0 0 #fff !important;
  &.shadow{
    box-shadow:0px 4px 16px 0px rgba(139,139,139,0.16) !important;
  }
}
.el-badge__content{
  border: none;
}

//  投放管理 tabs
.creative-box{
  box-shadow: 0 0 0 #fff;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  .el-tabs__header{
    background-color: #fff;
    .el-tabs__item{
      background-color: #EEEEEE;
      color: #181819;
      height: 60px;
      line-height: 60px;
      padding: 0 24px;
      font-size: 14px;
      &.is-active{
        background-color: #fff;
        &::before{
          position: absolute;
          left: 0;
          display: inline-block;
          width: 100%;
          height: 4px;
          content: "";
          background-color: $color-main;
        }
      }
    }
  }
  .el-tabs__content{
    padding: 10px 0;
  }
}

// form-label
.el-form-item__label{
  color: #999999;
}