// elementUI 主题编辑中无法修改的内容在此处覆盖
.el-button{
  width: 136px;
  &.is-circle{
    width: auto;
  }
  &.is-plain{
    background: transparent !important;
  }
}
.el-card__header{
  padding: 20px;
}
.el-card{
  margin-top: 20px;
  box-shadow:0px 4px 16px 0px rgba(139,139,139,0.16) !important;
}
.el-badge__content{
  border: none;
}