// elementUI 主题编辑中无法修改的内容在此处覆盖

// 按钮

  // &.is-disabled{
  //   background: $color-disabled;
  //   border-color: $color-disabled;
  //   color: #fff;
  //   &:hover{
  //     border-color: $color-disabled;
  //     background: $color-disabled;
  //     color: #fff;
  //   }
  // }
.el-button--default{
  &:hover{
    background: #fff;
    border-color: $color-border;
    color: $color-text;
  }
  &:active{
    color: $color-main;
    border-color: $color-main;
    background: transparent;
  }
}

.el-button--primary{
  border-color: $color-main;
  background: $color-main;
  color: #fff;
  &.is-plain{
    color: $color-main;
    border-color: $color-main;
    background: transparent;
    &:hover{
      border-color: $color-main;
      background: transparent;
      color: $color-main;
    }
    &:active{
      color: #fff;
      background: $color-main;
    }
  }
  &:hover{
    border-color: $color-main;
    background: $color-main;
    color: #fff;
  }
  &:active{
    color: #fff;
    background: $color-main-darken;
  }
}

.is-circle{
  width: auto;
}


.el-card__header{
  padding: 20px;
}
.el-card{
  margin-top: 20px;
  box-shadow: 0 0 0 #fff !important;
  &.shadow{
    box-shadow:0px 4px 16px 0px rgba(139,139,139,0.16) !important;
  }
}
.el-badge__content{
  border: none;
}

//  tabs

.el-tabs{
  &.my-tabs{
    box-shadow: 0 0 0 #fff;
    border-radius: 4px;
    overflow: hidden;
    background: transparent;
    border: none;
    >.el-tabs__header{
      border: none;
      background-color: #fff;
      .el-tabs__item{
        background-color: #EEEEEE;
        color: #181819;
        padding: 0 20px;
        width: 160px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 14px;
        &.is-active{
          background-color: #fff;
          border-color: #fff;
          &::before{
            position: absolute;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 4px;
            content: "";
            background-color: $color-main;
          }
        }
      }
    }
    >.el-tabs__content{
      padding: 0;
    }
  }
  &.thin-tab{
    .el-tabs__nav-wrap{
      &::after{
        height: 0px !important;
      }
    }
    .el-tabs__active-bar{
      height:3px;
      border-radius:2px;
    }
    .el-tabs__item{
      color: #999999;
      padding: 0 15px;
      &.is-active{
        color: #181819;
      }
    }
    &.small{
      .el-tabs__active-bar{
        height: 1px;
      }
      .el-tabs__nav-wrap{
        border-bottom: 1px solid #E5E7E9;
      }
      .el-tabs__item.is-active{
        color: $color-main;
      }
      .el-form-item__label{
        color: $color-text;
      }
      .el-tabs__active-bar{
        display: none;
      }
      .el-tabs__item{
        margin-right: 93px;
        padding: 0;
        &.is-active{
          border-bottom: 1px solid $color-main;
        }
      }
    }
  }
}
// tabs分割线
.el-tabs__nav-wrap::after{
  height: 1px;
}
.el-tabs__active-bar{
  height: 1px;
}

.el-tabs__header{
  margin-bottom: 30px;
}

.el-tabs__item{
  padding: 0 50px;
}




// form-label
.el-form-item__label{
  color: #999999;
}

.el-input__inner{
  &::placeholder{
    color: $color-text-1;
  }
  border:1px solid rgba(229,231,233,1);
}

.el-input-group__append{
  color: $color-text !important;
}
// 时间组件 至 显示不全
.el-date-editor .el-range-separator{
  padding: 0;
  line-height: 29px;
}

.el-form-item__content{
  line-height: 36px;
}

.el-date-editor .el-range-input{
  &::placeholder{
    color: $color-text-1;
  }
}

//dialog样式覆盖
.my-dialog {
  .el-dialog__footer {
    text-align: center;
    padding-bottom: 40px;
  }
  .el-dialog__header {
    border-bottom: 1px solid $color-border;
    padding: 24px 0 21px 30px;
    .el-dialog__title {
      font-size: 16px;
      line-height: 14px;
      color: $color-text;
    }
  }
  .el-dialog__body {
    padding: 30px 30px 50px;
  }
}
.el-dialog {
  .el-dialog__close {
    font-size: 14px;
  }
  .el-button{
    width: 100px;
    height: 34px;
    padding: 0;
    text-align: center;
    font-size: 14px;
  }
}
.dialog-height-50{
  .el-dialog{
    .el-dialog__body{
      flex-grow: 1;
      height: 50vh !important;
      overflow-y: auto;
    }
  }
}
.dialog-height-80{
  .el-dialog{
    .el-dialog__body{
      flex-grow: 1;
      height: 80vh !important;
      overflow-y: auto;
    }
  }
}
.dialog-height-90{
  .el-dialog{
    .el-dialog__body{
      flex-grow: 1;
      height: 90vh !important;
      overflow-y: auto;
    }
  }
}
// 垂直居中
.dialog-mid {
  .el-dialog{
    display: flex;
    flex-direction: column;
    margin:0px !important;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    .el-dialog__body{
      flex-grow: 1;
      max-height: 70vh;
      overflow-y: auto;
    }
  }
}

// el-form label颜色修改
.el-form-item__label {
  color: $color-text;
}

// input设定宽度为200
.el-input {
  width: 200px;
}
.bigger{
  .el-input {
    width: 240px;
  }
}
// 下拉框的箭头图标为新潮红
.el-select .el-input .el-select__caret {
  color: $color-main;
}
.el-cascader .el-input .el-icon-arrow-down {
  color: $color-main;
}

// 分页输入框
.el-pagination__editor{
  width: 82px !important;
}

// 展示信息form
.info-form{
  .el-form-item{
    &+.el-form-item{
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
  .el-form-item__content, .el-form-item__label{
    line-height: 1;
  }
}

.el-scrollbar{
  height: 100%;
  overflow-x: hidden;
}